recherche_et_gestion_web/tp/TD3_DTD/td3_exercice2.dtd

<!DOCTYPE note
[
<!ELEMENT article (titre) >
<!ELEMENT actrice (prenom,nom) >
<!ELEMENT film (titre) >

<!ELEMENT prenom (#PCDATA) >
<!ELEMENT titre (#PCDATA) >
<!ELEMENT nom (#PCDATA) >

<!ATTLIST article source (#PCDATA) >
<!ATTLIST titre 
			realisateur #IMPLIED,
			date #IMPLIED, 
			sujet #IMPLIED >

]>