recherche_et_gestion_web/tp/TD3_DTD/td3_exercice1.dtd

<!DOCTYPE note
[
<!ELEMENT article (#PCDATA|titre|film|actrice)* >
<!ELEMENT actrice (prenom,nom) >
<!ELEMENT film (titre) >
<!ELEMENT titre (#PCDATA|actrice)* >

<!ELEMENT nom (#PCDATA) >
<!ELEMENT prenom (#PCDATA) >


<!ATTLIST article source CDATA #REQUIRED >
<!ATTLIST titre 
			realisateur CDATA #IMPLIED
			date NMTOKEN #IMPLIED
			sujet CDATA #IMPLIED >
]>
]>