recherche_et_gestion_web/tp/TD4/test.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE biographie [

	<!ENTITY % draft "INCLUDE">
	<!ENTITY % final "IGNORE">
	<![%draft;[
	<!ELEMENT book (title,author,summary)>
	]]>
	<![%final;[
	<!ELEMENT book (comments*,title,author,summary)>
	]]>
	<!ELEMENT comments (#PCDATA)>
	<!ELEMENT title (#PCDATA)>
	<!ELEMENT author (#PCDATA)>
	<!ELEMENT summary (#PCDATA)>
	

]>